SECRET_KEY=dev-only-insecure-key-do-not-use-in-prod
DJANGO_SETTINGS_MODULE=config.settings.develop
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SITE_URL=http://127.0.0.1:8000
POSTGRES_DB=auditperfekt
POSTGRES_USER=auditperfekt
POSTGRES_PASSWORD=change-me-in-production
DATABASE_URL=
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
GA4_MEASUREMENT_ID=
