{% extends "admin/change_form.html" %}

{% block field_sets %}
    {% with has_conditional_display=adminform.model_admin.conditional_fields %}
        {% for fieldset in adminform %}
            {% if "tab" not in fieldset.classes %}
                {% include "admin/includes/fieldset.html" %}
            {% endif %}
            {% if forloop.first %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    {% include inline_admin_formset.opts.template %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endwith %}
    {% include "unfold/helpers/fieldsets_tabs.html" %}
{% endblock %}

{% block inline_field_sets %}{% endblock %}
