<section class="consult" id="konsultacia">
  <div class="container consult__split">
    <header class="consult__copy reveal">
      <p class="section-kicker">Контакт</p>
      <h2 class="consult__title">Потрібна <em>консультація</em></h2>
    </header>
    <div class="consult__actions reveal reveal--delay">
      <a class="consult__btn consult__btn--call" href="tel:{{ site.phone_href }}">Зателефонувати</a>
      <a class="consult__btn consult__btn--mail" href="mailto:{{ site.email }}">Написати листа</a>
    </div>
  </div>
</section>
